@forward "globals";
@use "util/fonts";

.bubble {
  animation: updown 6s infinite;
}

@keyframes updown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bubble:hover {
  animation: updown 1s infinite;
}

.bubble-text {
  font-size: clamp(2rem, calc(2rem + 3.5vw), 8rem);
  color: hsl(0, 0%, 50%);
  -webkit-user-select: none;
  user-select: none;

  &.split-text {
    display: inline-flex;
  }

  & .split-char {
    font-weight: 200;
    transition: font-weight 0.5s ease;

    &:hover {
      font-weight: var(--_fw-900);
      color: var(--_clr-900);
    }

    &:hover + .split-char {
      font-weight: var(--_fw-700);
      color: var(--_clr-700);
    }
    &:hover + .split-char + .split-char {
      font-weight: var(--_fw-400);
      color: var(--_clr-400);
    }

    &:has(+ .split-char:hover) {
      font-weight: var(--_fw-700);
      color: var(--_clr-700);
    }
    &:has(+ .split-char + .split-char:hover) {
      font-weight: var(--_fw-400);
      color: var(--_clr-400);
    }
  }
}

.image-dev {
  padding: 2.5vh;
  margin-top: 6vh;
  border-radius: 50%;
  animation: updown 4s ease-in-out infinite;
  margin: 10px;
}

@keyframes updown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@media (max-width: 600px) {
  .image-dev {
    margin: 0;
  }
}
.fighting {
  opacity: 0;
  display: none;
  transition:
    opacity 0.5s 1s,
    visibility 0s 1s;
}

.fighting-gif:hover + .fighting {
  opacity: 1;
  display: block;
  animation: updown 4s ease-in-out infinite;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(54, 54, 54);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(143, 224, 207);
  align-items: center;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}

.badge > a {
  color: inherit;
}
