:root {
  --_fw-900: 900;
  --_fw-700: 700;
  --_fw-400: 400;

  --_clr-900: hsl(0, 0%, 100%);
  --_clr-700: hsl(0, 0%, 80%);
  --_clr-400: hsl(0, 0%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.bg-custom {
  background-image: url("../resources/background/catraingreen.gif");
  background-size: cover;
  backdrop-filter: blur(15px);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #5d856d;
}

body {
  cursor: none;
}

*, *::before, *::after {
  cursor: none !important;
}

.cursor {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transition: all 0.5s ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
}

.outline {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transition: all 0.5s ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9998;
}

.outline--hidden {
  opacity: 0;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--clicked {
  transform: scale(0.7);
}

.cursor--link-hovered {
  transform: scale(2.5);
  background-color: rgba(255, 255, 255, 0.1);
}