.navbar-toggler-icon {
    filter: invert(1);
  }

.navbar-brand {
    font-family: 'Beezle','Akelia';
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.nav-link {
    font-family: 'Beezle';
    font-size: 1rem;
    letter-spacing: 0.75px;
}
